#total {
  display: none;
}

#cart:hover #total {
  display: block;
  width: 100px !important;
  color: #fff;
}

#card {
  width: 30px;
  -webkit-transition: padding 2s;
  /* For Safari 3.1 to 6.0 */
  transition: width 20s;
}

  .text-margin {
    margin-top: 50px !important;
  }

  .v-card--reveal {
    align-items: center;
    bottom: 0;
    justify-content: center;
    opacity: .5;
    position: absolute;
    width: 100%;
  }

  .height-cart {
    height: 40px !important;
  }

  .margin-left {
    margin-left: 150px !important;
  }
